@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  /* Form container overrides */
  .coach-form section {
    @apply bg-slate-100 border rounded-md p-4 border-slate-300;
  }

  /* Input defaults */
  .coach-form input,
  .coach-form textarea,
  .coach-form select {
    @apply bg-white border rounded px-2 py-2 w-full border-slate-300;
  }

  /* Optional: label spacing */
  .coach-form label {
    @apply block mb-1 font-bold;
  }

  .coach-form h2 {
    @apply font-bold text-lg;
  }

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.logo {
  font-family: "Ultra", serif;
}

button {
  cursor: pointer !important;
}


.coach-hero-font-inter {
  font-family: "Inter", sans-serif;
}

.coach-hero-font-quicksand {
  font-family: "Quicksand", sans-serif;
}

.coach-hero-font-ultra {
  font-family: "Ultra", serif;
}

.coach-hero-font-anton {
  font-family: "Anton", sans-serif;
}