@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.logo {
  font-family: "Ultra", serif;
}

button {
  cursor: pointer !important;
}


.coach-hero-font-inter {
  font-family: "Inter", sans-serif;
}

.coach-hero-font-quicksand {
  font-family: "Quicksand", sans-serif;
}

.coach-hero-font-ultra {
  font-family: "Ultra", serif;
}

.coach-hero-font-anton {
  font-family: "Anton", sans-serif;
}